{% extends 'Responsable/base.html.twig' %}

{% block title %}Medicament{% endblock %}



{% block body %}
    <h1>Liste des médicaments</h1>

    <table class="table table-striped table-bordered" id="tableau">
        <thead>
        <tr>
            <th scope="col">Dépôt légal</th>
            <th scope="col">Nom Commercial</th>
            <th scope="col">Composition</th>
            <th scope="col">Effets</th>
            <th scope="col">Contre Indications</th>
            <th scope="col">Prix Echantillon</th>
            <th scope="col">Famille</th>
        </tr>
        </thead>
        <tbody>
        {% for medicament in medicaments %}
            <tr>
                <td>{{ medicament.DepotLegal }}</td>
                <td><a href="{{ path('responsable_medicament_show', {'id': medicament.id}) }}">{{ medicament.NomCommercial }}</a></td>
                <td>{{ medicament.Composition }}</td>
                <td>{{ medicament.Effets }}</td>
                <td>{{ medicament.ContreIndic }}</td>
                <td>{{ medicament.PrixEchantillon }}</td>
                <td><a href="{{ path('responsable_famille_show', {'id': medicament.famille.id}) }}">{{ medicament.famille.libelle }}</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun médicament n'a été trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

