{% extends 'Responsable/compte_rendu/statistiques/base.html.twig' %}

{% block title %}Statistique{% endblock %}

{% block body %}
	<h1 class="mt-3 mb-3 text-center">Statistiques des comptes rendu</h1>
	<div class="container-fluid">
		<div class="jumbotron">
			<div class="row">
				<div class="col-6">
					<h3 class="mt-2 text-center text-primary"><b>Total des comptes rendu du secteur {{ secteur.libelle }}</b></h3>
					<div id="div_chart_secteur"></div>
				</div>
				<div class="col-6">
					{% if region == null %}
						<h3 class="mt-2 text-center text-primary"><b>Total des comptes rendu de la region</b></h3>
						{{ form_start(form) }}
						{{ form_widget(form) }}
						<button class="btn btn-outline-primary">{{ button_label|default('Rechercher') }}</button>
						{{ form_end(form) }}

					{% else %}
						<h3 class="mt-2 text-center text-primary"><b>Total des comptes rendu de la region {{ region.libelle }}</b></h3>
						<div id="div_chart_region"></div>
						{{ form_start(form) }}
						{{ form_widget(form) }}
						<button class="btn btn-outline-primary">{{ button_label|default('Rechercher') }}</button>
						{{ form_end(form) }}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
