{% extends 'base.html.twig' %}

{% block title %}Accueil Visiteur{% endblock %}

{% block menu %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('visiteur_index') }}">Accueil</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Compte rendu</a>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
                <a class="dropdown-item" href="{{ path('visiteur_compte_rendu_new') }}">Nouveau</a>
                <a class="dropdown-item" href="{{ path('visiteur_compte_rendu_index') }}">Consulter</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Consulter</a>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
                <a class="dropdown-item" href="{{ path('visiteur_medicament_index') }}">Médicaments</a>
                <a class="dropdown-item" href="{{ path('visiteur_praticien_index') }}">Praticiens</a>
                <a class="dropdown-item" href="{{ path('visiteur_vehicule_index') }}">Vehicule</a>
            </div>
        </li>
    </ul>
{% endblock menu %}

{% block body %}

{% endblock %}