{% extends 'Praticien/base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}
    <h1 class="mb-3">Liste des comptes rendus</h1>

    {% set praticien = "" %}
    {% set visiteur = "" %}
    <div class="row">
        {% for compte_rendu in compte_rendus|reverse %}
            {% if visiteur != compte_rendu.visiteur.firstName %}
                {% set visiteur = compte_rendu.visiteur.firstName %}
            {% endif %}
            {% if praticien != compte_rendu.praticien.firstName %}
                {% set praticien = compte_rendu.praticien.firstName %}
            {% endif %}
            <div class="col-6">
                <div class="row">
                    <div class="col-2">
                        <div class="bg-primary mb-0 rounded-top shadow pt-1 pb-1">
                            <h5 class="text-white text-center my-auto"><i class="fas fa-file-signature"></i></h5>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-3 mt-0" style="max-width: 40em; border-top-left-radius:0!important;">
                    <div class="card-header text-center">
                        <div class="row border-bottom border-primary">
                            <div class="col-5 border-right border-primary my-auto ">
                                <h3 class="display-5">Compte rendu</h3>
                            </div>
                            <div class="col-5 my-auto">
                                <p><strong>Praticien :</strong> </p>
                                <p><a href="{{ path('user_show', {'id': compte_rendu.praticien.id}) }}">{{ compte_rendu.praticien.firstName| title  }} {{ compte_rendu.praticien.lastName | title}}</a></p>
                            </div>
                            <div class="col-2 border-left border-primary my-auto">
                                <h3> N°: <a href="{{ path('praticien_compte_rendu_show', {'id': compte_rendu.id}) }}">{{ compte_rendu.id }}</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h4 class="card-title">Détails :</h4>
                        <hr>
                        <div class="card-text">
                            <div class="row">
                                <div class="col-6">
                                    <p><strong>Clôturé :</strong></p>
                                    <p>{{ compte_rendu.cloture ? '<i class="fas fa-check text-primary"></i>' : '<i class="fas fa-times text-primary"></i>' }}</p>
                                </div>
                                <div class="col-6">
                                    <p><strong>Documentation :</strong></p>
                                    <p>{{ compte_rendu.doc ? '<i class="fas fa-check text-primary"></i>' : '<i class="fas fa-times text-primary"></i>' }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p><strong>Remplacant :</strong></p>
                                    <p>{{ compte_rendu.remplacant }}</p>
                                </div>
                                <div class="col-6">
                                    <p><strong>Visiteur :</strong></p>
                                    <p><a href="{{ path('user_show', {'id': compte_rendu.visiteur.id}) }}">{{ compte_rendu.visiteur.firstName| title }} {{ compte_rendu.visiteur.firstName| title }}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6 my-auto">
                                <h5 class="text-center"><strong>Date Visite : </strong><a class="text-primary">{{ compte_rendu.dateVisite ? compte_rendu.dateVisite|date('d-m-Y') : '' }}</a></h5>
                            </div>
                                <div class="col-6 my-auto text-right">
                                    <a class="btn btn-outline-primary" href="{{ path('praticien_compte_rendu_show', {'id': compte_rendu.id}) }}" role="button">Détail <i class="fas fa-angle-right"></i></a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-6">
                <div class="card border-secondary mb-3">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h4 class="card-title">Secondary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
