<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}{% endblock %} - Compte-Rendu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- <link href="https://bootswatch.com/4/materia/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    {% block stylesheets %}<link rel="stylesheet" href="/css/style.css">{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a  href="{{ path('redirection') }}" class="navbar-brand"><img src="/img/logo-gsb.png" alt="GSB" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">

        {% block menu %}
        {% endblock menu %}

        <ul class="navbar-nav ml-auto">

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_profile') }}">
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container">
    <div class="jumbotron mt-3">

        {% block body %}
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        {% endblock %}

    </div>
</div>
<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
<!--script type="text/javascript" src="/DataTables/media/js/jquery.dataTables.min.js"></script-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script type="text/javascript" src="/js/datatables-bt4.js"></script>
<script type="text/javascript" src="/js/tab.js"></script>
<script type="text/javascript" src="/js/jquery.bootstrap-duallistbox.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/i18n/French.json"></script>
{% block javascript %}{% endblock %}
</body>
</html>